.container {
    background-color: #c00025;
    width: 300px;
    height: 400px;
    max-width: 550px;
    border-radius: 15px;
    border: 2px solid grey;
    padding-bottom: 25px;
}
.display {
    margin-top: 25px;
    height: 70px;
    width: 200px;
    border-radius: 50px;
    color: white;
    background-color: #322c2d;
    box-shadow: 1px 1px #322c2d;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 8%;
    font-size: 5.0rem;
  }

  button {
    background: #3f66c9;
    color: #fff;
    margin: 0.2rem;
    padding: 15px;
    font-size: 16px;
    text-transform: uppercase;
    border: 2px solid grey;
    border-radius: 45px;
    transition: all 0.2s ease-in;
}